.playerTable {
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    left: 50%;
    top: 50%;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
    background: #fafafa;
    text-align: center;
}

.tableHead {
 background: #728ec3;
 color: #fafafa;
 text-transform: uppercase;
}

.tableHead, .tableData {
 padding: 12px 15px;
}

tr:nth-child(odd){
 background: #eeeeee;
}

.delete-btn{
 padding:6px 8px;
 border:1px solid #95bac1;
 border-radius:5px;
 background-color: rgb(127, 206, 255);
 color: #fff;
 text-decoration:none;
 text-transform:uppercase;
 text-align:center;
 box-shadow:1px 1px 1px rgb(39, 52, 65);
 display:inline-block;
 font-family:Verdana,Helvetica;

}

.delete-btn:hover{
 background-color: transparent;
 border: 2px solid rgb(127, 206, 255);
 color: rgb(127, 206, 255);
}
